- var siteTitle = "2UN 🔵 LTD"
//- var siteURL = "http://2un.ltd"
- var siteURL = "http://2un.ltd"
- var description = "Are you all ready for this?"
- var fplusURL = ""
- var launchDate = "2017-04-21"
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    .mobile-background
      video.video.mobile-video(autoplay loop muted)
        source.webm(type="video/webm")
        source.mp4(type="video/mp4")
    .video-overlay
      video.video(loop muted)
        source(src="videos/dance.webm" type="video/webm")
        source(src="videos/dance.mp4" type="video/mp4")
    include partials/_sidebar.pug
    main
      //- iframe#YouTube(width="560" height="315" src="https://www.youtube.com/embed/1SngLUOGvpE?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen)
      h3.ready-question(ready-status="no")
        | Are you ready for this?
      .button-holder
        button.yes#YesReady Yes
        button.no#NotReady No
  
    include partials/_javascripts.pug
    include partials/_schema.pug